@use '../abstract' as a;

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--clr-white);

  @include a.breakpoint(medium) {
    font-size: 2.25rem;
  }
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: var(--clr-white);

  @include a.breakpoint(medium) {
    font-size: 1.75rem;
  }
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.95rem;
  line-height: 1.75;
  color: var(--clr-neutral-color-slightly-transparent-white-75);

  @include a.breakpoint(medium) {
    font-size: 1rem;
  }
}

.txt-highlight {
  &--purple {
    color: var(--clr-primary-color-soft-violet);
  }
}